@import url(https://cdn.jsdelivr.net/npm/water.css@2/out/water.css);

body {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

.todo-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-through {
  text-decoration: line-through;
}
